header {
  padding: 0 150px 0 150px;
}

#headerText {
  color: #4b873d;
  font-family: "Calibri";
  font-size: 48px;
  text-align: center;
}

#subHeader {
  font-size: 24px;
  font-family: Tahoma;
  text-align: center;
}

#smallBlurb {
  text-align: center;
}

#sectionsContainer {
  padding: 40px 150px 40px 150px;
  justify-items: center;
}

.sectionHeader {
  font-family: Tahoma;
  text-align: center;
}

#bookTypes {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.bookType {
  width: fit-content;
}

#giftCertBanner {
    width: 100%;
    padding: 5px;
    background-color: #aec6a8;
    text-align: center;
    border: 2px solid #4b873d;
}

footer {
    padding: 40px 150px 40px 150px;
    background-color: #4b873d;
    color: white;
    font-size: 24px;
}

footer a {
    color: white;
}