body {
  font-family: arial;
}

h1 {
  font-size: 85px;
  color: #114876;
  text-align: left;
}

figure {
  width: 50%;
  border: 2px solid gray;
  border-image-width: 30px;
  padding: 10px;
  margin-bottom: 12px;
  margin-right: 10px;
}

figure img {
  width: 100%;
  height: auto;
}

p img {
  height: 10%;
  width: auto;
}

p {
  text-align: left;
  margin-left: 40px;
  margin-right: 70px;
}

p img {
  border: solid gray;
  float: right;
  max-width: 30%;
  margin-left: 20px;
  margin-bottom: 32px;
}

.navLink {
  font-weight: bold;
  color: #114876;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
